# Enable log streaming
option_settings:
  - namespace: aws:elasticbeanstalk:cloudwatch:logs
    option_name: StreamLogs
    value: true

# Custom CloudWatch agent configuration file
# Related: https://stackoverflow.com/questions/41979394/elastic-beanstalk-single-container-docker-use-awslogs-logging-driver
# Related: https://stackoverflow.com/questions/57481837/no-logs-appear-on-cloudwatch-log-group-for-elastic-beanstalk-environment
files:
  "/etc/amazon/amazon-cloudwatch-agent/docker-stdouterr.json":
    mode: "000755"
    owner: root
    group: root
    content: |
      {
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/log/eb-docker/containers/eb-current-app/**.log",
                  "log_group_name": "/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`/var/log/eb-docker/containers/eb-current-app/stdouterr.log",
                  "log_stream_name": "{instance_id}"
                }
              ]
            }
          }
        }
      }

# Append custom configuration file and start CloudWatch agent
container_commands:
  "01_append_config":
    command: amazon-cloudwatch-agent-ctl -a append-config -m ec2 -c file:/etc/amazon/amazon-cloudwatch-agent/docker-stdouterr.json -s
    leader_only: true
