# Custom CloudWatch agent configuration file to stream logs for app and web containers
files:
  "/etc/amazon/amazon-cloudwatch-agent/docker-compose.json":
    mode: "000755"
    owner: root
    group: root
    content: |
      {
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/log/eb-docker/containers/app/**.log",
                  "log_group_name": "/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`",
                  "log_stream_name": "app"
                },
                {
                  "file_path": "/var/log/eb-docker/containers/web/**.log",
                  "log_group_name": "/aws/elasticbeanstalk/`{ "Ref" : "AWSEBEnvironmentName" }`",
                  "log_stream_name": "web"
                }
              ]
            }
          }
        }
      }

# Append custom configuration file and start CloudWatch agent
container_commands:
  "01_run_cloudwatch-agent_with_custom_config":
    command: amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c file:/etc/amazon/amazon-cloudwatch-agent/docker-compose.json -s
    leader_only: true
